<%- include('../partials/header'); -%>

    <section id="MainSection">
        
        <br>

        <div>
            <h1>Productos disponibles</h1>
            <hr>
            <div id="TableProductsIndex"></div>
        </div>

        <br>

        <div>
            <h1>Centro de mensajes</h1>
            <hr>
            <%- include('../components/message-form'); -%>
            <div id="ChatMessages" class="mt-3"></div>
        </div>


    </section>


    <%- include('../partials/footer'); -%>